@using Arenda.Models.ViewModel;
@model ContractEditViewModel

<form method="post">
    <input asp-for="Contract.Id" hidden />
    <div class="border p3">
        <div class="form-group row">
            <h2 class="text-info p1-3">Удаление договора</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Contract.RegistrationNumber"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Contract.RegistrationNumber" class="form-control" disabled/>
                        <span asp-validation-for="Contract.RegistrationNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Contract.PaymentFrequencyId"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="Contract.PaymentFrequencyId" asp-items="@Model.PaymentFrequencySelectList" class="form-control" disabled>
                            <option disabled selected>--Выберите периодичность оплаты--</option>
                        </select>
                        <span asp-validation-for="Contract.PaymentFrequencyId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Contract.ArendatorId"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="Contract.ArendatorId" asp-items="@Model.ArendatorSelectList" class="form-control" disabled>
                            <option disabled selected>--Выберите арендатора--</option>
                        </select>
                        <span asp-validation-for="Contract.ArendatorId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Contract.StartOfContract"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Contract.StartOfContract" class="form-control" disabled/>
                        <span asp-validation-for="Contract.StartOfContract" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Contract.EndOfContract"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Contract.EndOfContract" class="form-control" disabled/>
                        <span asp-validation-for="Contract.EndOfContract" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Contract.AdditionalInfo"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Contract.AdditionalInfo" class="form-control" disabled/>
                    </div>
                </div>

                @for(int i = 0;i<Model.Premises.Count;i++)
                {
                    <div class="form-group row">
                        <div class="col-4">
                            <label>Арендованное помещение</label>
                        </div>
                        <div class="col-2">
                            <select asp-for="Premises[i].PremiseId" asp-items="@Model.rentedPremiseViewModels[i].Premises" class="form-control" disabled>
                                <option disabled selected>--Выберите помещение--</option>
                            </select>
                        </div>
                        <div class="col-2">
                            <select asp-for="Premises[i].RentPurposeId" asp-items="@Model.rentedPremiseViewModels[i].RentPurposes" class="form-control" disabled>
                                <option disabled selected>--Выберите цель аренды--</option>
                            </select>
                        </div>
                        <div class="col-2">
                            <input asp-for="Premises[i].RentCost" placeholder="Размер платы" class="form-control" disabled/>
                        </div>
                        <div class="col-2">
                            <input asp-for="Premises[i].RentalPeriod" placeholder="Срок аренды" class="form-control" disabled/>
                        </div>
                    </div>
                }

                <p></p>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">
                        <div class="col">
                            <input type="submit" class="btn btn-danger w-100" value="Delete" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/bundles/jqueryval"></script>
}