@using Arenda.Models.ViewModel;
@model Penalty

<form method="post">
    <input asp-for="Id" hidden />
    <input asp-for="ContractId" hidden />
    <div class="border p3">
        <div class="form-group row">
            <h2 class="text-info p1-3">Редактирование штрафа</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Amount"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Amount" class="form-control" />
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-8 offset-4 row">
                    <div class="col">
                        <input type="submit" class="btn btn-warning w-100" value="Edit" />
                    </div>
                    <div class="col">
                        <a asp-route-id="@Model.ContractId" asp-action="ViewPenalties" class="btn btn-success w-100">Back</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                @*KEEP THIS EMPTY*@
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}