<div class="myModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Создание арендатора</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <a asp-action="CreateLegalEntity" class="btn btn-primary" style="width:38%">Юридическое лицо</a>
                <a asp-action="CreatePhysicalPerson" class="btn btn-primary" style="width:35%">Физическое лицо</a>
            </div>
        </div>
    </div>
</div>