<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
    <button type="button" class="btn btn-primary">Кнопка 1</button>
    <button type="button" class="btn btn-primary">Кнопка 2</button>
</div>