<div class="gridcontainer">
    <div class="container">
        <h1>Здания</h1>
        <a class="link-primary" asp-area="" asp-controller="Building" asp-action="Index">Список зданий</a>
    </div>

    <div class="container">
        <h1>Банки</h1>
        <a class="link-primar" asp-area="" asp-controller="Bank" asp-action="Index">Список банков</a>
    </div>

    <div class="container">
        <h1>Арендаторы</h1>
        <a class="link-primar" asp-area="" asp-controller="Arendator" asp-action="Index">Список арендаторов</a>
    </div>

    <div class="container">
        <h1>Договоры</h1>
        <a class="link-primar" asp-area="" asp-controller="Contract" asp-action="Index">Список договоров</a>
    </div>

    <div class="container">
        <h1>Улицы</h1>
        <a class="link-primar" asp-area="" asp-controller="Street" asp-action="Index">Улицы</a>
    </div>
</div>